codes/Node-RED Flow/flows.json
[
    {
        "id": "a97ca80659818579",
        "type": "tab",
        "label": "Modbus Wifi DHT-Coil",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ee52a5db6add1c16",
        "type": "modbus-read",
        "z": "a97ca80659818579",
        "name": "Read Coil",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "3835f24cae29b1d9",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 240,
        "y": 100,
        "wires": [
            [
                "bb652d544f31e179",
                "6d7d0847171842eb"
            ],
            []
        ]
    },
    {
        "id": "6ea7feacac6d6269",
        "type": "modbus-read",
        "z": "a97ca80659818579",
        "name": "Read Holding Register",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "4",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "3835f24cae29b1d9",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "0aef6fda70b64edc"
            ],
            []
        ]
    },
    {
        "id": "0aef6fda70b64edc",
        "type": "function",
        "z": "a97ca80659818579",
        "name": "",
        "func": "var t_int = msg.payload[0];\nvar t_dec = msg.payload[1]/100;\nmsg.temperature = t_int + t_dec;\n\nvar h_int = msg.payload[2];\nvar h_dec = msg.payload[3]/100;\nmsg.humidity = h_int + h_dec;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            [
                "ba12807a7de06243",
                "ea80e87ea19155ed",
                "f303c0f6edd26d3c",
                "35f706871180c0a6"
            ]
        ]
    },
    {
        "id": "ba12807a7de06243",
        "type": "ui_gauge",
        "z": "a97ca80659818579",
        "name": "",
        "group": "a1a105830405b849",
        "order": 1,
        "width": "7",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{msg.temperature}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "ea80e87ea19155ed",
        "type": "ui_gauge",
        "z": "a97ca80659818579",
        "name": "",
        "group": "a1a105830405b849",
        "order": 2,
        "width": "7",
        "height": "4",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "1cad673193755ce6",
        "type": "ui_chart",
        "z": "a97ca80659818579",
        "name": "",
        "group": "a1a105830405b849",
        "order": 3,
        "width": "16",
        "height": "4",
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f303c0f6edd26d3c",
        "type": "change",
        "z": "a97ca80659818579",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 240,
        "wires": [
            [
                "1cad673193755ce6"
            ]
        ]
    },
    {
        "id": "35f706871180c0a6",
        "type": "change",
        "z": "a97ca80659818579",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 280,
        "wires": [
            [
                "4262d97f58665990"
            ]
        ]
    },
    {
        "id": "4262d97f58665990",
        "type": "ui_chart",
        "z": "a97ca80659818579",
        "name": "",
        "group": "a1a105830405b849",
        "order": 4,
        "width": "16",
        "height": "4",
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "bb652d544f31e179",
        "type": "ui_text",
        "z": "a97ca80659818579",
        "group": "70a6e321ea18a369",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Coil 0x00",
        "format": "{{msg.payload[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 420,
        "y": 60,
        "wires": []
    },
    {
        "id": "6d7d0847171842eb",
        "type": "ui_text",
        "z": "a97ca80659818579",
        "group": "70a6e321ea18a369",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Coil 0x01",
        "format": "{{msg.payload[1]}}",
        "layout": "row-spread",
        "className": "",
        "x": 420,
        "y": 100,
        "wires": []
    },
    {
        "id": "8158ea58d3d3e3e1",
        "type": "ui_button",
        "z": "a97ca80659818579",
        "name": "",
        "group": "5c57ee41a1d17e5e",
        "order": 1,
        "width": "8",
        "height": "2",
        "passthru": false,
        "label": "TURN ON Coil 0x00",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "6604566c4ac6da89"
            ]
        ]
    },
    {
        "id": "6604566c4ac6da89",
        "type": "modbus-write",
        "z": "a97ca80659818579",
        "name": "Coil 0",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "server": "3835f24cae29b1d9",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 410,
        "y": 340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1a7133068964e7c3",
        "type": "ui_button",
        "z": "a97ca80659818579",
        "name": "",
        "group": "5c57ee41a1d17e5e",
        "order": 2,
        "width": "8",
        "height": "2",
        "passthru": false,
        "label": "TURN OFF Coil 0x00",
        "tooltip": "",
        "color": "",
        "bgcolor": "grey",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 380,
        "wires": [
            [
                "6604566c4ac6da89"
            ]
        ]
    },
    {
        "id": "48abec64fc38107c",
        "type": "ui_button",
        "z": "a97ca80659818579",
        "name": "",
        "group": "5c57ee41a1d17e5e",
        "order": 4,
        "width": "8",
        "height": "2",
        "passthru": false,
        "label": "TURN ON Coil 0x01",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "591ced823fedac87"
            ]
        ]
    },
    {
        "id": "591ced823fedac87",
        "type": "modbus-write",
        "z": "a97ca80659818579",
        "name": "Coil 1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "1",
        "server": "3835f24cae29b1d9",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 410,
        "y": 440,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "75021825c70cbb29",
        "type": "ui_button",
        "z": "a97ca80659818579",
        "name": "",
        "group": "5c57ee41a1d17e5e",
        "order": 5,
        "width": "8",
        "height": "2",
        "passthru": false,
        "label": "TURN OFF Coil 0x01",
        "tooltip": "",
        "color": "",
        "bgcolor": "grey",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 480,
        "wires": [
            [
                "591ced823fedac87"
            ]
        ]
    },
    {
        "id": "5186a842719e8646",
        "type": "ui_spacer",
        "z": "a97ca80659818579",
        "name": "spacer",
        "group": "5c57ee41a1d17e5e",
        "order": 3,
        "width": "8",
        "height": "1"
    },
    {
        "id": "3835f24cae29b1d9",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.20",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "a1a105830405b849",
        "type": "ui_group",
        "name": "Temperature & Humidity",
        "tab": "4526b3823197ff73",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "70a6e321ea18a369",
        "type": "ui_group",
        "name": "Coil Relays Status",
        "tab": "4526b3823197ff73",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5c57ee41a1d17e5e",
        "type": "ui_group",
        "name": "Write Coil Relays",
        "tab": "4526b3823197ff73",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4526b3823197ff73",
        "type": "ui_tab",
        "name": "Modbus DHT-11 & Coils",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]